/* Companies Animation */

.hero-bottom {
  overflow: hidden;
}

.hero-bottom--marquee {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.hero-bottom--marquee--inner {
  display: flex;
  animation: marquee 8s linear infinite;
}

.hero-bottom--marquee--item {
  display: inline-block;
  padding: 0 55px;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.hero-bottom--marquee--item img {
  max-width: none;
}

/*  */

.section-features--marquee {
  overflow: hidden;
  white-space: nowrap;
}

.marquee-container {
  display: flex;
  width: 100%;
}

.marquee-content {
  display: flex;
  animation: scroll-left 10s linear infinite;
}

.item {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

@keyframes scroll-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

/* faq */
.faq__item {
  display: flex;
  align-items: flex-start;
  padding: 0 20px;
  flex-direction: column;
}

/* Heart */

.icon_heart {
  mask-image: linear-gradient(180deg, #013aff 0%, rgba(0, 26, 255, 0) 74%);
}

.swiper-slide {
  opacity: 1 !important;
}

/*  */

.bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Add some padding to the sides if needed */
}

.social-icons {
  display: flex;
  align-items: center;
}

.left-scroll {
  position: relative;
  transform: translateY(-50%);
  transition: transform 0.1s ease;
}

.right-scroll {
  position: relative;
  transform: translateY(-50%);
  transition: transform 0.1s ease;
}

.c_p {
  text-align: left;
}
.faq__item_outer {
  width: 100%;
}

/* Reviews Design */
